<!DOCTYPE html>
<html>
<head>
  <title>TaskHome</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>


<nav class="navbar navbar-light bg-light justify-content-between" >
    <div class="ConteinerNav" style="margin-top: 5px;">
        <div style="text-align: right;">
        <a href="/taskHome/Login/" type="button" class="btn btn-primary" style="border-radius:20px; margin-right:40px;" >Accedi</a>
    </div>
    </div>
</nav>

  <style>
.row {
  display: flex;
}

.column1 {
  flex: 20%;
}
</style>

<div class="ContenitoreTask" style="padding:50px; background-color: lavenderblush; border-radius: 20px;margin-top:20px; margin-left:50px; margin-right:50px;">

  <div class="card" style="margin-top:30px;">
            <div class="row">
                        <div class="column1">
                            <div class="card-header" style="padding: 8px; ">
                                <h1 style="margin-left:20px; "><b>Task Management sofware for everyone</b></h1>
                            </div>
                        </div>
                        <div class="column" style="text-align: left; margin-right:20px;">
                            <div class="card-header" style="background-color:lavender;margin-left:50px;padding:30px;border-radius: 20px;">
                                                <h4><b>Centralizza il lavoro del tuo team in un unico spazio condiviso:</b></h4>
                                      <p style="margin-bottom: 20px;margin-left: 50px;">organizza i vari task e assegnali.
                                           Con gli elenchi i team vedono immediatamente cosa devono fare, i task che hanno le precedenze e le scadenze </p>

                                      <h4><b>Cronologia</b></h4>
                                      <p style="margin-bottom: 20px;margin-left: 50px;">vedi come il lavoro prende forma nel tempo. Gestisci i task dipendeti,
                                          quelli non programmati o che si sovrappongono ed elabora piani affidabili </p>


                                      <h4><b>Bacheca</b></h4>
                                      <p style="margin-bottom: 20px;margin-left: 50px;">Aiuta il tuo team a concentrasi sui task in corso.Definisci fasi del lavoro
                                          per identificare le precedenze e gli ostacoli </p>
                            </div>
                        </div>
                </div>
</div>

</div>


    <div style="text-align: center; margin-top:20px;">
        <a href="/taskHome/Iscriviti/" type="button" class="btn btn-primary">Iscriviti</a>
    </div>



</div>




</body>
</html>











